@charset "utf-8";

* { margin: 0; padding: 0; box-sizing: border-box; }
html { scroll-behavior: smooth; }

.wrap { position: relative; overflow: hidden; background-color: #dbd5ec; }
a { text-decoration: none; }
ul li { list-style: none; }

section { position: relative; }