@charset "utf-8";


* { margin: 0; padding: 0; box-sizing: border-box; }
html { scroll-behavior: smooth; }

.wrap { position: relative; overflow: hidden; background-color: #dbd5ec; }
a { text-decoration: none; }
ul li { list-style: none; }
.flex { display: flex; flex-direction: column; justify-content: center; align-items: center; }

section { position: relative; }


/* 위쪽 섹션 (메뉴, 로고) */

/* 로고 */
.logo { margin: 0 auto; width: 100%; height: 7vh; line-height: 4vh; background-color: #160e19; text-align: center; font-family: cursive; }
.logo h1 { font-size: 40px; font-weight: 800; line-height: 6vh; }
.logo h1 a {color: #bfe8e9;}

/* 메뉴 섹션 */
.menuSection { background-color: #21172a; }
.menuWrap { width: 100%; position: relative; display: inline-block; background-color: #160e19; z-index: 10; }

.mainMenuUl { display: flex; }
.mainMenuUl > li { flex-basis: 17%; height: 6vh; font-weight: 800; font-size: 24px; line-height: 4vh; text-align: center; position: relative; border-right: 2px solid #8a9ab8; }
.mainMenuUl > li:last-child { border-right: none; }
.mainMenuUl li a { color: #bfe8e9; }

.mainList a { transition: 0.1s linear; }
.subMenuUl { display: none; border-bottom: 5px solid #241d26; position: absolute; top: 6vh; width: 100%; }
.click > li { display: block; }
.subList { background-color: #3a2e39cf; text-align: center; }
.subList:hover { background-color: #281228dc;}
.subList a { font-size: 18px; }



/* 아래쪽 섹션 (컨텐츠, 서브메뉴 리모컨) */
.contentsSection { height: 100%; } /*height 주석처리*/

/* 리모컨 영역 */
.remoteControlArea { width: 9vw; height: 100%; background-color: #c8b7d6; right: 0; position: absolute; }
/* 리모컨 */
.remoteControl { background-color: #d8f5ff; border-radius: 30%; position: fixed; top: 14vh; right: 1.5vw; padding: 2vh 0.5vw;  }
.remoteControl div { margin: 2vh auto; }

.titleBox { font-size: 18px; font-weight: 600; text-align: center; color: #485187; }

.linkList ul li { text-align: center; width: 5vw; height: 4vh; background-color: #29b7de; line-height: 4vh; margin: 3px auto; }
.linkList ul li:hover {background-color: #2361be;}
.linkList ul li a { font-size: 15px; color: #000153; font-weight: 600; }
.linkList ul li:last-child { border-top: none; }

.moveTop { color: #160e19; text-align: center; }
.moveTop button { cursor: pointer; font-weight: 600; border-radius: 10%; border: none; background-color: #2361be; width: 80px; height: 30px; }


/* 컨텐츠 (프로젝트, 스킬) */
/* 프로젝트 */
.projectArea { width: 90.1vw; padding: 3vh 4vw; }
.contents { width: 80vw; margin: 0 auto;}

.projectList { margin: 0 auto; } 
.projectNameList ul { display: flex; flex-direction: row; justify-content: center; position: relative; }
.projectNameList ul li { flex-basis: 20%; height: 5vh; line-height: 5vh; text-align: center; font-size: 21px; font-weight: 600; cursor: pointer; z-index: 2; user-select: none; }
.highlight { left: 16vw; background-color: #362277; border-radius: 40%; position: absolute; z-index: 1; transition: left 0.2s ease, width 0.2s ease; }
.selector-item--active { color: #ffffff }


/* 프로젝트 탭 메뉴 */
.projects-item { position: relative; width: 350px; height: 350px; margin: 5px; background-color: #FFFFFF; opacity: 1; transition: height 1s, opacity 1s; }
.projects-item.hide { margin: 0; width: 0px; height: 0px; opacity: 0; }


/* 이미지 슬라이드 (구역 잡기) */
.imageSlide { width: 70vw; background-color: #9e9e9e; margin: 2vh auto; margin-bottom: 0; overflow: hidden; }
.imagesDiv { display: flex; flex-direction: row; width: 210vw; }/*판넬*/
.images { width: 70vw; height: 48vh; }

/* 설명 슬라이드 (구역 잡기) */
.infoSlide { display: flex; flex-wrap: wrap; margin: 0 auto; margin-left: 5vw; }

.projectInfo { width: 25vw; background-color: #dd99da; overflow: hidden; }
.projectInfo .content { width: 75vw; display: flex; flex-direction: row; }/*판넬*/
.infoList { padding: 2vh 2vw; width: 25vw; height: 40vh; }

.projectDescription { width: 45vw; height: 40vh; background-color: #8a9ab8; overflow: hidden; }
.projectDescription .content { width: 135vw; display: flex; flex-direction: row; }/*판넬*/
.projectDescriptinDetail { padding: 2vh 2vw; width: 45vw; height: 40vh; }

/* 설명 슬라이드 내부 콘텐츠 */
.infoList li { display: flex; }
.infoList li span { width: 6vw; height: 40px; font-weight: 600; font-size: 20px; } 
.infoList li p { display: block; margin: 0 1vh; }



/* 기술 */
.skillArea { width: 90.1vw; padding: 4vh 0; }
.skillsList { width: 60vw; margin: 2vh auto; height: 35vh; background-color: #eeeeee; overflow: scroll; white-space: nowrap; overflow-y: hidden; }
.skillsList:first-child { margin-top: 0; }
.skillsList:last-child { margin-bottom: 0; }
.skillsList::-webkit-scrollbar-track { background: transparent; }
/* .skillsList::-webkit-scrollbar-thumb {} */

.skillsGroupTitle { height: 6vh; text-align: center; font-size: 25px; font-weight: 600; line-height: 6vh; margin: 1vh auto; }
.horizonalScroll ul { display: flex; width: 70vw; }
.horizonalScroll ul li { width: 12vw; height: 22vh; margin: 0 2vh;}
.horizonalScroll ul li img { max-height: 90%; min-height: 90%; max-width: 90%; min-width: 90%; margin: 0 auto; }





/* @media (orientation: portrait) and (max-width: 900px) {
    .menuSection {display: none;}
} */