@charset "utf-8";


* { margin: 0; padding: 0; box-sizing: border-box; }

.wrap { position: relative; overflow: hidden; }
a {text-decoration: none;}
.flex { display: flex; flex-direction: column; justify-content: center; align-items: center;}

/* main(section) */
.logo { position: absolute; top: 100px; margin: 0 15%; z-index: 1; }
.logo h1 { font-size: 40px; font-weight: 800; }
.logo h1 a { color: #d5d2d8; font-family: cursive; }

section {position: relative;}

.content { position: absolute; left: 5%; bottom: 5%; }
.content h3 { margin-bottom: 10px; font-size: 40px; font-weight: 800; color: #32383bff;}
.content p { font-size: 30px; font-weight: 400; color: #32383bff; }

.intro { width: 26%; height: 100vh; background: #32383bff; float: left; color: #d5d2d8; overflow: hidden; }
.portfolio { width: 37%; height: 50vh; background: #ff8abdff; float: left; color: #32383bff; }
.gallery { width: 37%; height: 50vh; background: #cdf5feff; float: left; color: #32383bff; }
.others { width: 37%; height: 50vh; background: #9aebffff; float: left; color: #32383bff; }
.login { width: 37%; height: 50vh; background: #74dfffff; float: left; color: #32383bff; }

/* profile */
.intro {position: relative;}
.profile {position: absolute; top: 24%;}

.circle { width: 120px; height: 120px; background-color: #9c7bbf; border-radius: 90px; margin: 0 auto;}
.contactLink {margin: 20px 0; text-align: center;}
.contactLink a {color: #fff; font-size: 18px; font-family: sans-serif;}

.info {margin: 28px 0;}
.info ul {margin: 0 15px;}
.info ul li { list-style-type: none; line-height: 40px; font-size: 18px; font-weight: 800; }

.goToProfile {align-items: center;}
.goToProfile button { background-color: #5e2b94; color: #e6e6e6; border-radius: 5px; font-size: 16px; font-weight: 800; border: none; width: 280px; height: 36px; margin: 15px; cursor: pointer; }


/* menu */
.menu { position: absolute; top: 50px; left: 2.2%; width: 30px; height: 25px; z-index: 100; cursor: pointer;}

.menu .bar { position: absolute; width: 30px; height: 5px; background: #FFFFFF; transition: all 0.5s; border-radius: 10px; }
.menu .bar.b1 { top: 0; left: 0; opacity: 1; }
.menu.on .bar.b1 {opacity: 0;}
.menu .bar.b2 { top: 10px; left: 0; opacity: 1;}
.menu.on .bar.b2 { transform: rotate(-45deg); }
.menu .bar.b3 { top: 10px; left: 0; opacity: 1; }
.menu.on .bar.b3 { transform: rotate(45deg);}
.menu .bar.b4 { top: 20px; left: 0; opacity: 1;}
.menu.on .bar.b4 { opacity: 0; }

/* nav */
nav {   position: absolute; top: 0; left: -30%;
        width: 26%; height: 100vh; background-color: #413252; z-index: 2; 
        text-align: center; transition: all 0.3s; }

nav.on {left: 0;}
nav .background { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
nav .foreground { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: #00000066; }

.link {z-index: 3;}
.title {padding-bottom: 10vh;}
.title span { font-size: 35px; font-weight: 600; color: #FFFFFF; }
.link-item { height: 7vh; }
.link-item a { font-size: 30px; font-weight: 400; color: #FFFFFF; }



/* media 쿼리 */
@media (orientation: portrait) and (max-width: 1200px) {
        .logo {top: 54px;}
        .logo h1 {font-size: 40px;}

        .intro, .portfolio, .others, .gallery, .login { width: 100%; height: 100vh; }
        
        .content h3 {font-size: 30px;}
        .content p {font-size: 25px;}

        .menu { position: fixed; top: 70px; }
        nav { position: fixed; width: 100%; left: -100%; }
}

@media (orientation: portrait) and (max-width: 600px) {
        .logo {top: 65px;}
        .logo h1 {font-size: 30px;}
        .info {margin: 0 30px;}
        .info ul {margin: 0 auto;}
        .info ul li {font-size: 16px;}
        
        .content h3 {font-size: 25px;}
        .content p {font-size: 17px;}
}
